<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <title>Github Monitor</title>
</head>

<body>
    <main>
        <h1>Github Monitor</h1>
        <div hx-get="/pulls" hx-trigger="load" hx-swap="outerHTML">
            Loading Pull Requests...
        </div>
        <div hx-get="/actions" hx-trigger="load" hx-swap="outerHTML">
            Loading Actions...
        </div>
    </main>
    <script>
        htmx.logAll();
    </script>
</body>

</html>