{{ range . }}
<div class="mb-5">
    <h4 class="text-lg font-semibold">{{ .RepositoryName }}</h4>
    <ul>
        {{ range .WorkflowRuns }}
        <li class="mb-2">
            <div class="p-2 bg-gray-700 rounded-md hover:bg-gray-600">
                <label>{{ .Name }}</label>
                <div hx-get="/jobs?runId={{ .ID }}&repo={{ .Repository.FullName}}" hx-trigger="load"
                    hx-swap="outerHTML">
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}