<!-- prettier-ignore -->
<ul class="flex flex-wrap -m-1">
    {{ range .Jobs }}
    <li class="p-1">
        <span class="
            {{- if eq .Status "completed" -}}
            bg-green-200 border-green-600
            {{- else if eq .Status "waiting" -}}
            bg-yellow-200 border-yellow-600
            {{- end }}
            border rounded-lg p-3 shadow-sm flex justify-between items-center text-gray-600">
            {{ if eq .Status "waiting" }}
             <label class="text-sm">
                <span class="default-text">{{.Name}}</span>
                <span class="hover-text">Approve? 👍</span>
            </label>
            {{ else }}
            <label class="text-sm">{{ .Name }}</label>
            {{ end }}
        </span>
    </li>
    {{ end }}
</ul>

<style>
    .hover-text {
        display: none;
    }
    label:hover .default-text {
        display: none;
    }
    label:hover .hover-text {
        display: inline;
    }
</style>